<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MudZong</title>
    <base href="/">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="sidebar">
    <header>
        <div style="padding-bottom: 2rem">
            <div style="padding-top: 2rem">
                <img th:src="@{/img/logomudzong.png}" width="40%">
            </div>
            <div>
                <h3>MudZong</h3>
            </div>
        </div>
    </header>
    <ul>
        <li><a style="text-decoration: none" href="/dashboard"><i class="fas fa-cube"></i>Moj profil</a></li>
        <li><a style="text-decoration: none" href="/dashboard/survey"><i class="fas fa-question"></i>Raspoloženje</a></li>
        <li id="selected"><a style="text-decoration: none" href="/dashboard/social-data"><i class="fas fa-stream"></i>Top liste</a></li>
        <li><a style="text-decoration: none" href="/dashboard/info"><i class="fas fa-info-circle"></i>O podacima</a></li>
        <li><a style="text-decoration: none" href="/logout"><i class="fas fa-sign-out-alt"></i>Odjavi me</a></li>
    </ul>
</div>
<section style="padding-left: 20rem; padding-top: 3rem; padding-right: 3rem; padding-bottom: 3rem" >
    <div class="grid2">
        <div class="person">
            <h2>Top liste na različitim platformama</h2>
            <a class="btn btn-primary" href='javascript:spotify()'>Spotify</a>
            <a class="btn btn-primary" href='javascript:deezer()'>Deezer</a>
            <a class="btn btn-primary" href='javascript:shazam()'>Shazam</a>
            <a class="btn btn-primary" href='javascript:apple()'>Apple</a>
            <h4 id="naslov">Spotify</h4>
            <table class="table table-primary table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Ime pjesme</th>
                    <th scope="col">Spotify playliste</th>
                    <th scope="col">Spotify Rang</th>
                    <th scope="col">Streams</th>
                    <th scope="col">Apple playliste</th>
                    <th scope="col">Apple Rang</th>
                    <th scope="col">Deezer playliste</th>
                    <th scope="col">Deezer Rang</th>
                    <th scope="col">Shazam Rang</th>
                </tr>
                </thead>
                <tbody>
                <tr id="listapjesamaspotify" th:each="listing : ${spotifyList}" th:hidden=false>
                    <td th:text="${listing.songName}"></td>
                    <td th:text="${listing.in_spotify_playlists}"></td>
                    <td th:text="${listing.in_spotify_charts}"></td>
                    <td th:text="${listing.streams}"></td>
                    <td th:text="${listing.in_apple_playlists}"></td>
                    <td th:text="${listing.in_apple_charts}"></td>
                    <td th:text="${listing.in_deezer_playlists}"></td>
                    <td th:text="${listing.in_deezer_charts}"></td>
                    <td th:text="${listing.in_shazam_charts}"></td>
                </tr>
                <tr id="listapjesamaapple" th:each="listing : ${appleList}" th:hidden=true >
                    <td th:text="${listing.songName}"></td>
                    <td th:text="${listing.in_spotify_playlists}"></td>
                    <td th:text="${listing.in_spotify_charts}"></td>
                    <td th:text="${listing.streams}"></td>
                    <td th:text="${listing.in_apple_playlists}"></td>
                    <td th:text="${listing.in_apple_charts}"></td>
                    <td th:text="${listing.in_deezer_playlists}"></td>
                    <td th:text="${listing.in_deezer_charts}"></td>
                    <td th:text="${listing.in_shazam_charts}"></td>
                </tr>
                <tr id="listapjesamadeezer" th:each="listing : ${deezerList}" th:hidden=true>
                    <td th:text="${listing.songName}"></td>
                    <td th:text="${listing.in_spotify_playlists}"></td>
                    <td th:text="${listing.in_spotify_charts}"></td>
                    <td th:text="${listing.streams}"></td>
                    <td th:text="${listing.in_apple_playlists}"></td>
                    <td th:text="${listing.in_apple_charts}"></td>
                    <td th:text="${listing.in_deezer_playlists}"></td>
                    <td th:text="${listing.in_deezer_charts}"></td>
                    <td th:text="${listing.in_shazam_charts}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="content mygrid amounts">
            <!--
            <h2>Izvođači</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <th:block th:each="listing : ${socialDataMap.keySet()}">
                        <a th:text="${listing}" class="dropdown-item" href="#">Tekst</a>
                    </th:block>
                </div>
            </div>
            -->
        </div>
    </div>

</section>
<script>
    function spotify() {
        document.getElementById('listapjesamaspotify').hidden = false;
        document.getElementById('listapjesamaapple').hidden = true;
        document.getElementById('listapjesamadeezer').hidden = true;
        document.getElementById('naslov').innerHTML  = "Spotify";
      }
    function apple() {
        document.getElementById('listapjesamaspotify').hidden = true;
        document.getElementById('listapjesamaapple').hidden = false;
        document.getElementById('listapjesamadeezer').hidden = true;
        document.getElementById('naslov').innerHTML  = "Apple";
      }
    function deezer() {
        document.getElementById('listapjesamaspotify').hidden = true;
        document.getElementById('listapjesamaapple').hidden = true;
        document.getElementById('listapjesamadeezer').hidden = false;
        document.getElementById('naslov').innerHTML  = "Deezer";
      }
     function shazam() {
        document.getElementById('listapjesamaspotify').hidden = false;
        document.getElementById('listapjesamaapple').hidden = true;
        document.getElementById('listapjesamadeezer').hidden = true;
        document.getElementById('naslov').innerHTML  = "Shazam";
      }
</script>
</body>
</html>
