<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pjesme</title>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <h1 th:text="${tag}"></h1>

        <div th:if="${#lists.isEmpty(list) == false}">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Duration</th>
                            <th>mbid</th>
                            <th>URL</th>
                            <th>Artist</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="track: ${list}">
                            <td th:text="${track.name}"></td>
                            <td th:text="${track.duration}"></td>
                            <td th:text="${track.mbid}"></td>
                            <td th:text="${track.url}"></td>
                            <td th:text="${track.artist}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(list) == true}">
            <span>Nema pjesama</span>
        </div>
    </body>
</html>